body {
  background-color: thistle;
  text-align: center;
  flex: auto;
}

.original{
color: black;
}

.newfontcolor {
  color:  whitesmoke;
}

.navigation-top {
text-align: right;
}

.question {
  font-weight: 900;
}
.answers {
  margin-bottom: 5%;
}

.images {
  width: 50%;
}